<!doctype>
<html>
<head>
    <title>Sagehen HvZ</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    {{{_sections.head}}}
</head>
<body>
{{{body}}}
<footer>
    <hr>
    Created by Kent Shikama and ZQ Xiong
</footer>
</body>
</html>