<!doctype>
<html>
<head>
    <title>Sagehen HvZ</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    {{{_sections.head}}}
</head>
<body>
{{{body}}}
<script src="javascripts/jquery.js"></script>
<footer>
    <hr>
    Created by Kent Shikama and ZQ Xiong
</footer>
</body>
</html>