<!doctype>
<html>
<head>
    <title>Sagehen HvZ</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    {{{_sections.head}}}
</head>
<body>
{{{body}}}
</body>
</html>