{{#section 'head'}}
    <style>
        #container{margin-left:15%}
        #form{float:left;padding:5%}
        #quote{margin:10%;padding:5%}
    </style>
{{/section}}


<div id="container">
    <div id="form">
        <form action="" method="POST">
            <p>What is your name?</p>
            <input type="text" name="name" value="David Oxtoby">
            <p>H or Z?</p>
            <select name="avatar">
                <option value="human" selected="true">Sagehen H</option>
                <option value="zombie">Sagehen Z</option>
            </select>
            <p><button type="submit">Enter the game!</button></p>
        </form>
    </div>
    <div id="quote">
        <ol>
            <li>Organize before they rise!</li>
            <li>They feel no fear, why should you?</li>
            <li>Use your head: cut off theirs.</li>
            <li>Blades don't need reloading.</li>
            <li>Ideal protection = tight clothes, short hair.</li>
            <li>Get up the staircase, then destroy it.</li>
            <li>Get out of the car, get onto the bike.</li>
            <li>Keep moving, keep low, keep quiet, keep alert!</li>
            <li>No place is safe, only safer.</li>
            <li>The zombie may be gone, but the threat lives on.</li>
        </ol>
        <p>--Max Brooks, <i>The Zombie Survival Guide: Complete Protection from the Living Dead</i></p>
    </div>
</div>